{% extends "base.html.twig" %}

{% block title %} Movies Page {% endblock %}

{% block body %}

    {{ author }}
    <div>
        <a href="/movies/create" class="">Create New</a>
    </div>

{% endblock %}