{% extends "base.html.twig" %}

{% block title %} Movies Page {% endblock %}

{% block body %}
<div class="form-group col-2">
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success text-uppercase">Submit Post</button>
    {{ form_end(form) }}
</div>
{% endblock %}
